<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{881,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{98,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{196,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{294,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{392,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{490,0},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{587,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{685,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,29}</string>
                <key>spriteSourceSize</key>
                <string>{98,29}</string>
                <key>textureRect</key>
                <string>{{783,0},{98,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>car.png</string>
            <key>size</key>
            <string>{979,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f4d6d7901e2934234637b41dbe38ff:08183a99bfad96e23b0f785a7bc40ac2:a7da72d8bec8bf41656f85e0523472ac$</string>
            <key>textureFileName</key>
            <string>car.png</string>
        </dict>
    </dict>
</plist>
