<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{963,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{107,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{214,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{321,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{428,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{535,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{642,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{749,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuan9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,28}</string>
                <key>spriteSourceSize</key>
                <string>{107,28}</string>
                <key>textureRect</key>
                <string>{{856,0},{107,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chuan.png</string>
            <key>size</key>
            <string>{1070,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc85c4a348fcdaf46830a36106e2f7e0:f80424ee344e54387ecf90a5d9522a02:2169ff7e9c742e28c7d4c200d0cd80ac$</string>
            <key>textureFileName</key>
            <string>chuan.png</string>
        </dict>
    </dict>
</plist>
