<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{750,0},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{0,376},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{750,376},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{0,752},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{750,752},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{0,1128},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{750,1128},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{0,1504},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hai20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,376}</string>
                <key>spriteSourceSize</key>
                <string>{750,376}</string>
                <key>textureRect</key>
                <string>{{750,1504},{750,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hai-1.png</string>
            <key>size</key>
            <string>{1500,1880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8b4acf6ecc2483deae48a2e9ab5c35e:f1b5d4c4fbec9b58746af1e5ea456a39:0af7926e13ae7a3daf5b009817e256b4$</string>
            <key>textureFileName</key>
            <string>hai-1.png</string>
        </dict>
    </dict>
</plist>
