<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{54,13}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,13}</string>
                <key>spriteSourceSize</key>
                <string>{53,13}</string>
                <key>textureRect</key>
                <string>{{0,13},{53,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,14}</string>
                <key>spriteSourceSize</key>
                <string>{53,14}</string>
                <key>textureRect</key>
                <string>{{0,26},{53,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huo.png</string>
            <key>size</key>
            <string>{54,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9ce24b5b0ed4e0a28421e517cdd28e3:23bbdca5492197c7ef4a7713280fa8ed:e4bbac8f67f61cdba9fd5f7813e17904$</string>
            <key>textureFileName</key>
            <string>huo.png</string>
        </dict>
    </dict>
</plist>
