<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lunzi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{97,0},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lunzi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{97,29},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lunzi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,29}</string>
                <key>spriteSourceSize</key>
                <string>{97,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lunzi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,30}</string>
                <key>spriteSourceSize</key>
                <string>{97,30}</string>
                <key>textureRect</key>
                <string>{{0,29},{97,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lunzi.png</string>
            <key>size</key>
            <string>{194,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4003d9da2b9b238f0e539cee96d1d90b:1617b7580da625e93b3222fd8661bc84:b27de17c3fa30024b8e9e303b9e8c775$</string>
            <key>textureFileName</key>
            <string>lunzi.png</string>
        </dict>
    </dict>
</plist>
