<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuihua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,30}</string>
                <key>spriteSourceSize</key>
                <string>{109,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuihua2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{109,0},{107,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuihua3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{216,0},{107,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuihua.png</string>
            <key>size</key>
            <string>{323,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b93ebef653e1d3ce099eb5f2c1a8ff1:a5e7a15a5801bb7bbab98ac5c0f50bdc:f0e925d22e26cd43b95df6520e34e7d3$</string>
            <key>textureFileName</key>
            <string>shuihua.png</string>
        </dict>
    </dict>
</plist>
