<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{0,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{1440,0},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{159,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{318,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{477,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{636,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{795,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{954,0},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{1116,0},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,234}</string>
                <key>spriteSourceSize</key>
                <string>{162,234}</string>
                <key>textureRect</key>
                <string>{{1278,0},{162,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,229}</string>
                <key>spriteSourceSize</key>
                <string>{159,229}</string>
                <key>textureRect</key>
                <string>{{1602,0},{159,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>majiang.png</string>
            <key>size</key>
            <string>{1761,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5991f13a6056c28f518d6787f912113:f33c985db99be99b6fc530e30eeb1943:38bb41fadc358136095298b0809872c8$</string>
            <key>textureFileName</key>
            <string>majiang.png</string>
        </dict>
    </dict>
</plist>
