<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niu0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,57}</string>
                <key>spriteSourceSize</key>
                <string>{87,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{87,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{879,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{175,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{263,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{351,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{439,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{527,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{615,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{703,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>niu9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{791,0},{88,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niu.png</string>
            <key>size</key>
            <string>{967,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a580e07388fa9571b06ba0c776b2776:66290678383653ef3dbbc00ff04218c8:1cf054b138497af11bfd3718db16dd66$</string>
            <key>textureFileName</key>
            <string>niu.png</string>
        </dict>
    </dict>
</plist>
