<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,0},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,202}</string>
                <key>spriteSourceSize</key>
                <string>{156,202}</string>
                <key>textureRect</key>
                <string>{{471,202},{156,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{627,202},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{784,202},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,404},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,0},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,0},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,0},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{628,0},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{785,0},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,202},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,202},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,202},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,404},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,202}</string>
                <key>spriteSourceSize</key>
                <string>{156,202}</string>
                <key>textureRect</key>
                <string>{{628,606},{156,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{784,606},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,808},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,808},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,404},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,404},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{628,404},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{785,404},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,606},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,606},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,606},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,606},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,808},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,202}</string>
                <key>spriteSourceSize</key>
                <string>{156,202}</string>
                <key>textureRect</key>
                <string>{{785,1010},{156,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,1212},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,1212},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,1212},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,808},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{628,808},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{785,808},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,1010},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,1010},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,1010},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,1010},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{628,1010},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,1212},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,202}</string>
                <key>spriteSourceSize</key>
                <string>{156,202}</string>
                <key>textureRect</key>
                <string>{{0,1616},{156,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{156,1616},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{313,1616},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{470,1616},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{628,1212},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{785,1212},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,1414},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{157,1414},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{314,1414},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{471,1414},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{628,1414},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{785,1414},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{627,1616},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{784,1616},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,202}</string>
                <key>spriteSourceSize</key>
                <string>{157,202}</string>
                <key>textureRect</key>
                <string>{{0,1818},{157,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{942,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e5409f227ab1b2c6b71d182b0665b96:6ed394f9f8ec9d43d4efa5bae7b88a84:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
