<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuzi0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,61}</string>
                <key>spriteSourceSize</key>
                <string>{46,61}</string>
                <key>textureRect</key>
                <string>{{178,0},{46,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,66}</string>
                <key>spriteSourceSize</key>
                <string>{35,66}</string>
                <key>textureRect</key>
                <string>{{0,61},{35,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,67}</string>
                <key>spriteSourceSize</key>
                <string>{51,67}</string>
                <key>textureRect</key>
                <string>{{142,61},{51,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,68}</string>
                <key>textureRect</key>
                <string>{{193,61},{51,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,66}</string>
                <key>spriteSourceSize</key>
                <string>{57,66}</string>
                <key>textureRect</key>
                <string>{{35,61},{57,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,67}</string>
                <key>spriteSourceSize</key>
                <string>{50,67}</string>
                <key>textureRect</key>
                <string>{{92,61},{50,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{88,0},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{43,0},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuzi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{133,0},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuzi.png</string>
            <key>size</key>
            <string>{244,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2275e8c4024cf48f3e1485f6e0111d4:c3d203dc8f7a2d57944f74b12d269310:8dfcd9ca55e684c31f5e6d4475a4bd24$</string>
            <key>textureFileName</key>
            <string>shuzi.png</string>
        </dict>
    </dict>
</plist>
